<!-- <p>forecast works!</p> -->

<div>
  <h1>City: {{ forcastData.city.name }}</h1>
  <!-- <h2>{{ forcastData.list[0].dt_txt.slice(0, 10) }}</h2> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">{{ forcastData.list[0].dt_txt.slice(0, 10) }}</th>
        <th scope="col">{{ getData(0) }}</th>
        <th scope="col">{{ getData(1) }}</th>
        <th scope="col">{{ getData(2) }}</th>
        <th scope="col">{{ getData(3) }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Temp</th>
        <td>{{ forcastData.list[0].main.temp }}</td>
        <td>{{ getTemp(0) }}</td>
        <td>{{ getTemp(1) }}</td>
        <td>{{ getTemp(2) }}</td>
        <td>{{ getTemp(3) }}</td>
      </tr>
      <tr>
        <th scope="row">Feels Like</th>
        <td>{{ forcastData.list[0].main.feels_like }}</td>
        <td>{{ getFeelslike(0) }}</td>
        <td>{{ getFeelslike(1) }}</td>
        <td>{{ getFeelslike(2) }}</td>
        <td>{{ getFeelslike(3) }}</td>
      </tr>
      <tr>
        <th scope="row">Humidity</th>
        <td>{{ forcastData.list[0].main.humidity }}</td>
        <td>{{ getHumidity(0) }}</td>
        <td>{{ getHumidity(1) }}</td>
        <td>{{ getHumidity(2) }}</td>
        <td>{{ getHumidity(3) }}</td>
      </tr>
      <tr>
        <th scope="row">Min. Temp.</th>
        <td>{{ forcastData.list[0].main.temp_min }}</td>
        <td>{{ getminTemp(0) }}</td>
        <td>{{ getminTemp(1) }}</td>
        <td>{{ getminTemp(2) }}</td>
        <td>{{ getminTemp(3) }}</td>
      </tr>
      <tr>
        <th scope="row">Max. Temp.</th>
        <td>{{ forcastData.list[0].main.temp_max }}</td>
        <td>{{ getmaxTemp(0) }}</td>
        <td>{{ getmaxTemp(1) }}</td>
        <td>{{ getmaxTemp(2) }}</td>
        <td>{{ getmaxTemp(3) }}</td>
      </tr>
    </tbody>
  </table>
</div>
